[2013-11-06 04:08] ungoldman opened #1 "port flag"
How to be starting with for example `bundle exec ruby foo.rb -p $PORT` ?

[2014-03-26 23:49] #1 closed, assigned to nobody

[2014-09-02 22:44] samjohnduke opened #3 "Multiple before and after blocks"
Just want to say first that I love this little framework, I've used celluloid as library before and this just really makes sense.

I'm building a little messaging app and I have created a few components like sessions and authentication, the problem is when I extracted them into a library I had no way to set them up before and after each request.

Because there is no rack and therefore no middlewar

[2014-09-05 19:04] derekddecker opened #4 "Server crashing on URI exception"
Can reproduce with:

[code]

The exception & stack trace:

[code]

Can Celluloid::Reel supervisors be used to ensure fault tolerance? How would I implement this with Angelo?

[2014-09-09 17:09] #4 closed, assigned to kenichi

[2014-09-18 23:09] #3 closed, assigned to kenichi

[2014-09-19 11:09] chewi opened #9 "RequestError in before block for eventsource always gives status 500"
Thanks for fixing the before block exception bug. It now works with eventsource except that it doesn't have the special handling for getting a status other than 500 from the exception like the handle_request method does. I know you just put a new release out but I can easily work around this so don't feel the need to rush another one out.

[2014-09-19 17:51] #9 closed, assigned to kenichi

[2014-09-23 15:55] elia opened #10 "Please fix “It just uses Ruby everywhere”"
_Whoops_, just saw the [cascadia preso](http://confreaks.com/videos/4270-cascadiaruby2014-creating-a-chat-app-in-15-minutes-with-angelo) on confreaks.
And was wondering if you considered using @opal to make the claim above true :smiley_cat:

I though it was fun because I happened to use almost the same tagline for kinda the same demo last year in a live coding session at [codemotion](http://milan.

[2014-10-07 21:54] #10 closed, assigned to nobody

[2014-10-09 07:31] mighe opened #12 "How to manage push events"
Hi, I'm using Angelo to build a real time UI for our system.
The application generates events in its event loop, my goal is to send them to Angelo to broadcast websockets.

I cannot find anywhere in documentation or code a way to do it in a simple way, at the moment I added a method at Angelo::Server

[code]

and defined in my Angelo app

[code]

and my main application pushes events to the server

[2014-10-28 15:03] chewi opened #15 "Angelo::FormEncodingError when sending param without a value"
Not a big deal here, just thought I'd mention it. If you request a URL like `/foo?bar` then a Angelo::FormEncodingError exception is raised due to the lack of = even though this is a valid URL. I would expect `bar` to be present in the params hash as an empty string.

[2014-10-28 17:35] #12 closed, assigned to kenichi

[2014-10-31 13:10] mighe opened #16 "Invalid JSON data makes the server crash"
When an invalid JSON string is sent to the server, the function [parse_post_body](https://github.com/kenichi/angelo/blob/master/lib/angelo/params_parser.rb#L35) raises a ParseError and it crashes.

I think the best approach would be sending back to the client an `halt 400` (BadRequest).
To do so we have a couple of ways:
- make the `params` evaluation eager and catch the exception
- every request

[2014-11-03 07:38] #16 closed, assigned to nobody

[2014-11-04 14:47] mighe opened #17 "Websockets handler is executed twice"
[code]

This code is executed twice every time a websocket connects to the server.
Angelo 0.2.2 is the first affected version with this [commit](dc4ab6e2577522f77c20174c23366c91f7aae307) in server.rb: [line 61](https://github.com/kenichi/angelo/blob/master/lib/angelo/server.rb#L61) explicitly calls `handle_request`, but [Websocket#request=, line 15](https://github.com/kenichi/angelo/blob/master/li

[2014-11-04 19:28] #17 closed, assigned to kenichi

[2014-11-04 22:29] #15 closed, assigned to kenichi

[2014-11-06 14:24] mighe opened #18 "Angelo::Base should not parse ARGV (or at least should not crash)"
[Angelo::Base](https://github.com/kenichi/angelo/blob/master/lib/angelo/base.rb#L19) parses ARGV every time, even if it is embedded in another application and it raises and exception every time it founds a unknown parameter.
When I run my app (for example `ruby myApp.rb -verbose`), Angelo raises an error since it does not recognizes the `-verbose` param.

I suggest to remove completely the ARGV pa

[2014-11-10 19:46] #18 closed, assigned to kenichi

[2014-11-21 13:21] artworx opened #19 "undefined method `render' for nil:NilClass with erb :index"
The following code:

[code]

produces `undefined method`render' for nil:NilClass`

in [gems/angelo-0.3.1/lib/angelo/tilt/erb.rb](https://github.com/kenichi/angelo/blob/master/lib/angelo/tilt/erb.rb#L57) `self.class.tempalates` doesn't contain `:index`, only:

[code]

[2014-11-24 14:03] mighe opened #20 "send_file enhancements"
`send_file` has a couple of shortcomings that can be easily addressed:

1) it does not accept absolute paths and it expects to find files in the public dir, but this behaviour is somehow limiting. In my case, for example, I generate .css files from a .scss compiler at runtime: at the moment I have to put them into the public folder, when I'd prefer to keep them somewhere else.
For another purpose

[2014-11-27 13:16] #19 closed, assigned to kenichi

[2014-11-27 17:16] #20 closed, assigned to kenichi

[2014-12-01 07:21] mighe opened #21 "Actor crashed! Reel::StateError"
At least twice Angelo crashed with the following stack trace:

[code]

It seems somehow related to those Reel issues: https://github.com/celluloid/reel/issues/150 and https://github.com/celluloid/reel/issues/146

Do you have any idea?

(Yes, I did not update yet that machine to Angelo 0.3.2, but AFAIK you did not change anything about request management... I'm going to update it asap, anyway)

[2014-12-01 16:29] edpaget opened #22 "Allow Additional Content Types"
I was working on adding support for handling arbitrary content types in responses and wanted to run my idea by you to see if you'd want it included in Angelo.

As far as I can tell only content types explicitly handled [here](https://github.com/kenichi/angelo/blob/master/lib/angelo/responder.rb#L11-L21) and [here](https://github.com/kenichi/angelo/blob/master/lib/angelo/responder.rb#L107-L120) are

[2015-01-13 08:01] mighe commented on #21
Hi @kenichi , we made same other test and found out it is a Reel problem (see the referenced issue).
To reproduce it in Angelo just run the following code:

[code]

And try to download with your browser (or `wget`) a very big file: during this process stop your browser and it will make you process crash.

Of course it happens also with smaller file, it is just harder to reproduce (that is why I ha

[2015-01-15 00:48] kenichi commented on #21
@mighe i can repro that [issue](https://github.com/celluloid/reel/issues/164). that sounds like an epic pain to track down, and it also sounds like [others](https://github.com/celluoid/reel/issues/163) are having similar problems. i'm going to leave this issue open until those are closed so angelo users that may hit this can track back to the main problem. thanks again!

[2015-01-15 00:56] tarcieri commented on #21
https://github.com/celluloid/reel/pull/163 has a potential fix if any of you would like to try it out

[2015-01-15 07:17] mighe commented on #21
@tarcieri you say that the request should be fully consumed.
The only way to partially consume it is using `Reel::Request::Body#readpartial`?
I'm asking this because Angelo logs `method`, `url` and `version` *after* every request ( [code is here](https://github.com/kenichi/angelo/blob/master/lib/angelo.rb#L81) ), and I'm wondering if this can cause that pipeline error.
Thank you!

[2015-01-15 17:07] kenichi commented on #21
@mighe @tarcieri i have verified the issue in angelo, adapting the example code from 164:

[code]

^C-ing curl in the middle causes the `Reel::StateError: already processing a request` and if i switch to loading reel from artcom/master, everything seems to work great. i can cancel requests and re-request over and over again without seeing the StateError.

:+1:

[2015-01-15 17:20] tarcieri commented on #21
It's merged now

[2015-01-20 04:18] kenichi commented on #21
@mighe if running with reel from master works for you, i'll close this

[2015-01-20 07:01] mighe commented on #21
Ok, let's wait for the Reel version :+1:
Thank you @kenichi !

[2015-01-20 07:01] #21 closed

[2015-01-21 11:11] mighe opened #36 "Multiple public dirs"
I need to serve static files from two different folders.

Here is my idea:

* `public_dir` accepts also an Array of paths, for example `public_dir ['html/public', 'secret_folder']`
* If the file is found in `html/public` it will be served
* otherwise, if found in `secret_folder` it will be served
* otherwise it will return a 404
* everything else will continue to work as it currently does

The big

[2015-01-21 14:21] mighe commented on #36
[Here](https://github.com/mighe/angelo/commit/b114cf560f26ccdd4ab0cd95e25b767637c8fee5) the first implementation, but I think there's still a inconsistency:

`public_dir 'my_dir'` returns `[ root/my_dir ]`, making hard to do something like
`public_dir( ['other_dir] + public_dir)` to prepend a new folder.

Any ideas? :smile_cat:

[2015-01-22 19:02] kenichi commented on #36
hrm, seems pretty complex. i don't think sinatra does this? maybe something like symlinks can work?

i have an angelo app running behind nginx and nginx is configured to serve "public" files so that the request doesn't even hit the angelo app - i imagine nginx could serve more than one with a bit more config... but you probably have a different environment.

can you help me understand the requirem

[2015-01-23 11:13] mighe commented on #36
Our app will be deployed in many systems, sharing a great number of html and js files; every system could have "custom" files, for example a css that "overrides" the default one or a different html view.
The idea is to keep the common files in a directory and the custom ones in another directory.

Probably you're right: I could use Angelo to manage websockets and the api, while serving static file

[2015-02-05 07:06] mkonecny opened #41 "MultiRoute support"
Sinatra has a great module for allowing you to rename your route names while still maintaining backward compatibility for older clients:

http://www.sinatrarb.com/contrib/multi_route.html

[2015-02-05 17:53] kenichi commented on #41
that is cool. currently, through regex and mustermann, you could probably have one route block respond to mutliple paths, but not multiple verbs like that. i think this would be good as a contrib style module.

@samjohnduke made [angelo-sessions](https://github.com/samjohnduke/angelo-sessions); that and this could be a great start to a "angelo-contrib". perhaps it's time to formalize the plugin/mo

[2015-02-05 17:55] kenichi commented on #36
@mighe see recent issue about sinatra-multiroute and thoughts of "angelo-contrib"; if this is something you think would be a good fit as a plugin, go ahead and reopen.

[2015-02-05 17:55] #36 closed

[2015-02-05 17:57] kenichi commented on #22
@edpaget getting close to a 0.4 release, tons of changes; wanted to check in on this status.

[2015-02-06 07:25] edpaget commented on #22
Hi @kenichi, I'm very sorry I ended up being way busier at work than I thought I would be. I have a semi working implementation without any additional tests so far. I think I should have something for you by this weekend at the latest.

[2015-02-06 16:18] tommay opened #45 "Content-Type doesn't support charset"
The Content-Type header should always include a charset, at least for html, to prevent exploits.  Angelo needs a way to at least specify a charset, and it would be wise to provide a default charset where appropriate for vulnerable Content-Types like text/html.

[2015-02-13 10:29] Adam-Stomski opened #47 "multipart/form-data"
Does angelo support file uploads? Im trying to send file from Rails apllication to angelo server with form like
[code]

server code:
[code]

and log:
[code]

[2015-02-19 19:14] kenichi commented on #47
@Adam-Stomski I looked through reel, sinatra, and rack code... Looks like rack handles this, merging a tempfile into the params in this case. I'm now confused as to whether this type of thing should be in reel or angelo (though I think it should definitely be in one). I'm guessing that it "works" if using reel-rack. @tarcieri @_de thoughts?

[2015-02-19 21:02] tommay commented on #47
Putting it in reel would mean people wouldn't have to re-invent it.  But I
haven't actually looked into the reel API so I don't know how much sense
that makes.

On Thu, Feb 19, 2015 at 11:14 AM, kenichi nakamura <notifications@github.com

[2015-02-19 22:36] kenichi commented on #47
@tommay I thought I had looked at it quite a bit, but realized that I completely missed the `Reel::StreamResponse` and `Reel::EventStream` classes when added SSE and chunked support to Angelo. Also, reel doesn't do params, so I'm wondering what would even be the approach there.

[2015-02-19 22:41] tarcieri commented on #47
I could go either way on this one. Reel is trying to provide a lightweight, below-Rack level abstraction, but if you really think it makes sense to add it to Reel I'd be ok with that.

[2015-02-19 23:30] digitalextremist commented on #47
This is something I have code for, per celluloid/reel#149 ... @Adam-Stomski I believe mulitipart form-data ought to be in `Reel` ... because no, it does not work properly with Rack either. That is what originally got me started modifying `Reel` a very long time ago - no multipart form-data support. I will work on the referenced ticket and have it reviewed to make sure it behaves the way we're disc

[2015-02-19 23:44] tarcieri commented on #47
FWIW, @ixti is working on this sort of thing in https://github.com/httprb/form_data.rb

[2015-02-19 23:56] digitalextremist commented on #47
@tarcieri I remember you mentioning that, and I checked it out, but the server-side handling of multipart requests seems undocumented. The gem seems geared toward acting as a client posting requests right now, but I'm sure when I did further I'll find a parser. This is the one I've been using myself:

https://github.com/danabr/multipart-parser

If @ixti's gem is going to be more active, I'll switc

[2015-02-20 00:03] kenichi commented on #47
yeah, i don't see any server-side parsing in that gem... what am i missing?

[2015-02-20 00:11] tarcieri commented on #47
Nonexistent at the moment, but potentially something @ixti might be interested in adding

[2015-02-20 04:21] digitalextremist commented on #47
Maybe I'll work with @ixti to add support for parsing on the server-side.

@kenichi, do you have specific hopes for multipart support for your DSL? I also have a Reel-based DSL, and I'd rather not custom tailor the implementation of multipart to mine... or Sinatra/Rack either.

Question for @kenichi and @tarcieri: is it acceptable to use a "hijack" style handling of multipart form-data, in this se

[2015-02-21 23:37] kenichi commented on #47
@digitalextremist i have no specific hopes for multipart support in angelo; however, i do agree now that it should be handled in reel, so our respective DSLs can build off that. As for reel-rack support, if it doesn't work now, I see no problem in it continuing to not work :) but i think maybe an off-switch that reel-rack can set so rack can attempt to do it's thing may be a good idea.

my thought

[2015-02-27 07:48] gunnarmarten opened #48 "angelo params parser crashes on arrays"
Hi,
i have a little angelo based service which implements a POST request with `content_type :json`. As data an array is given.
So when i
`curl -s -v -X POST -H "Content-type:application/json" -d '["1451","1452"]' "http://0.0.0.0:3005/do_sth"`
it crashes with the following stacktrace:

`/Users/gunnar/.rvm/gems/ruby-2.1.5@sa_media_service/gems/angelo-0.4.1/lib/angelo/params_parser.rb:64:in 'merge!'

[2015-02-27 19:59] kenichi commented on #48
at first glance, i completely agree - an array is valid JSON. what made me reconsider is how would you access that array via `params`? would you be expecting `params` to then be an array and you would access with an integer index?

[2015-02-27 20:03] kenichi commented on #48
also, something to think about is posting a JSON body a route with a query string - edge case perhaps, but what would happen there?

[code]

`curl -X POST -H "Content-type:application/json" -d '["1451","1452"]' http://example.com/ids?acceess_token=xxxxxxx`

[2015-02-28 16:42] kenichi commented on #48
@gunnarmarten i hope my tone did not come across as glib or flippant. i've actually thought about this very same use case in the past, and always get stuck at the above questions. i sincerely welcome any ideas how to handle it.

[2015-03-03 13:45] gunnarmarten commented on #48
no worries, I was just on holiday for a few days.
I would probably separate params from the body and make the body accessable and json parsed.
So we would have in this case the params
`params[:access_token] #=> "xxxxxxx"`
and the body as array
`body #=> ["1451", "1452"]`

Its convenient to merge params and body but in these cases it doesn't really make sense.

[2015-03-07 16:39] kenichi commented on #48
after some discussion/tweets, i think that this is definitely a bug, since it should for sure not crash the server if someone posts an array as a body. my thoughts:

* must not crash on JSON array post bodies
* should not merge post bodies that are not objects/hashes
* try to set the parsed array as the `request.body` in this case

so, pretty much what you suggest :) though i do agree that objects

[2015-03-09 13:24] gunnarmarten commented on #48
cool, thanks for digging into that. Yeah that sounds like what i was thinking of.
I'll test the PR and give you feedback.

[2015-03-09 18:21] #48 closed

[2015-04-07 06:36] mighe opened #52 "Angelo crashes using reel 0.6.x"
Hi @kenichi, I was trying angelo with reel 0.6.0.pre1 and I get the following error:

[code]

the problem is [here](https://github.com/kenichi/angelo/blob/master/lib/angelo/base.rb#L274): the code is using a class from the old websocket parser, that has been removed with the websocket-driver integration.

[2015-04-07 19:36] kenichi commented on #52
ah, it looks like the new websocket-driver stuff does not expose the driver. since websocket-driver [has its own ping](https://github.com/faye/websocket-driver-ruby#driverpingstring---callback), we should attempt to use that, eh?

[2015-04-07 19:59] kenichi commented on #52
whoa, the new stuff depends on rack and uses Rack::MockRequest?

[2015-04-08 03:15] digitalextremist commented on #52
I see this too, and it bothered me. It's coming over by `websocket-driver` as you said. I've not wanted `Rack` anywhere near `Reel` or any DSL it supports. I will look into this also.

[2015-04-08 06:12] mighe commented on #52
@digitalextremist do you think it could be useful to have a `ping` method exposed by Reel?
At the moment the only way @kenichi has is to use directly a Reel dependency and this could lead to unexpected problems in the future (like this one).
If pinging a websocket is a useful feature for many developers, having it integrated in Reel is probably the best thing.

[2015-04-08 09:45] digitalextremist commented on #52
@mighe we can expose `ping` ( forwarding to `ping` on `@driver` ) no problem.

[2015-04-08 16:09] kenichi commented on #52
my immediate fix was to add :driver to the attr_accessor list, but then i saw the mockrequest and went down a rabbit hole of trying to make reel work without that.

[2015-04-08 16:10] kenichi commented on #52
@digitalextremist :+1:

[2015-04-08 16:13] digitalextremist commented on #52
Yeah I am going to make it work without `Rack` again. I swear there should be a `C` in front of `Rack` because every now and then someone keeps getting us hooked again. And it's all in good fun and everyone is having a rad party committing stuff, and then it's like :bomb: `Rack` reappeared muahahaha

[2015-04-08 20:29] kenichi commented on #52
@digitalextremist @mighe see https://github.com/celluloid/reel/pull/188

[2015-04-08 21:37] kenichi commented on #52
see also https://github.com/kenichi/angelo/compare/reel_0.6

[2015-04-08 22:35] digitalextremist commented on #52
If we clean this up and make sure it's solid, I'll post a `pre2` with this for you, while we wait on `UNIX` sockets.

[2015-04-12 08:33] mighe opened #53 "ArgumentError: this IO is already registered with selector"
This happened a couple of times:

[code]

calling this task:
[code]

I saw this error a couple of times recently.
Do you think it can be an Angelo issue or can it be a problem of one of its dependency?
I found [this](https://github.com/celluloid/celluloid-io/issues/121)

[2015-04-12 22:27] digitalextremist commented on #53
Let me know what you find on this.

[2015-04-13 08:41] mighe commented on #53
@digitalextremist @kenichi I'm able to reproduce it! :+1:

[code]

Just run that and open a websocket from your browser.
I suspected it was an issue related to heavy traffic, because I first saw this adding components to my backend, with this simple code we're simulating a situation with many events sent fast.

[2015-04-13 20:14] digitalextremist commented on #53
Usually this sort of thing happens when you start multiple server instances on top of each other, but I would need to look further into angelo to fully see the implications of your repro.

[2015-04-13 20:33] kenichi commented on #53
hmm, it seems to be somewhere between 10E4 and 10E5 as the multiplier that the error is raised. prior to that size of message, it seems to work.

the error in question seems to be coming from [`NIO::Selector#register`](https://github.com/celluloid/nio4r/blob/master/lib/nio/selector.rb#L28)

[2015-04-13 20:47] mighe commented on #53
My code production code sends short strings (usually less than 5000 characters), but sometimes I got that error.
Probably is somehow related to the (wi-fi) network speed or something like that, in this example I use a big constant to reproduce the issue consistently on localhost

[2015-04-14 16:15] mighe opened #54 "Angelo leaking memory?"
Last night my server was killed by the OS because it was using too much memory.
Try this simple code watching the memory usage.

[code]

After every request the memory usage increases and even invoking the garbage collector it never returns to the initial (more or less 33 MB on my system) or the previous value.

[2015-04-14 17:10] kenichi commented on #54
@mighe i fire this up and see it at around 43mb, then hit the route a few times and it peaks at around 105mb, but drops back to 51mb every time i hit /gc. i tried the same things with pure reel, and pure sinatra; sinatra/puma definitely uses less mem, but the pure reel is only slightly less mem and i see pretty much the same behavior with each. not that angelo *isn't* leaking, it very well may be.

[2015-04-14 17:23] mighe commented on #54
@kenichi which angelo/reel version have you used for this test?
I'm using angelo 0.4.1 with reel 0.5.0 under MacOs

[2015-04-14 17:37] mighe commented on #54
Here the results of my tests:

- after start: 34mb
- after 2 requests: 82mb
- gc: 56 mb
- 4 other reqs: 124mb
- gc: 64 mb

[2015-04-15 01:36] digitalextremist commented on #54
I wonder if this relates to celluloid/celluloid#463 ... shot in the dark.

[2015-04-18 16:34] mighe commented on #54
I found another serious issue in dependecy angelo stack.
I was trying to understand whether nio4r could impact that memory leak (since it is one of the c ext), but if I try to set `ENV['NIO4R_PURE] = 'true'` before requiring angelo, I get

[code]

:crying_cat_face:

[2015-05-22 01:14] pinyin opened #55 "How to start a supervised server?"
Hi,

Thanks for the elegant work.

It seems that `Angelo::Base.run()` uses `Angelo::Server.new` to start a new server instance, so I cannot call `Angelo::Server.supervise_as` manually like using other Celluloid actors.

Is there a recommended way to make a supervised server always available in `Celluloid::Actor[]`?

[2015-05-22 16:51] kenichi commented on #55
@pinyin thank you! there wasn't one, but what do you think about this?

https://github.com/kenichi/angelo/compare/supervise

used something like this:

[code]

makes me want to change the api of Base#run and #run! to take opts hash only...

[2015-05-22 16:54] digitalextremist commented on #55
@kenichi and make sure you anticipate `0.17.0` where `supervise_as` is no longer used!

[2015-05-22 17:22] kenichi commented on #55
@digitalextremist ah good to know. 0.17.0 is huge, can you point me to any specifics about this?

[2015-05-22 18:50] digitalextremist commented on #55
Well, for one, supervision moved to its own gem: `celluloid-supervision` ... but as of now, `0.17.0` includes that gem out-of-the-box. In the future, it may not. Doesn't hurt to include that gem then.

As of now, you need to add `submodules: true` and use github in your `Gemfile` ...

As for specific syntax, you will be using `as: :name` or `name: :name` ( an alias ) ... and using `#supervise`

[2015-05-26 13:45] pinyin commented on #55
Ah that's super fast!

Thanks. My issue is closed.

[2015-06-14 23:28] rjattrill opened #56 "Crash on Ctrl+C"
Issuing a Ctrl+C to shutdown the server results in a stack dump.

Environment details:

    C:\src\exlite\mockEo>jruby -v
    jruby 9.0.0.0.rc1 (2.2.2) 2015-06-10 a0bf3b3 Java HotSpot(TM) 64-Bit Server VM 24.79-b02 on     1.7.0_79-b15 +jit [Windows 7-amd64]

    C:\src\exlite\mockEo>jruby -S gem

    *** LOCAL GEMS ***
    angelo (0.4.1)
    ...
    reel (0.5.0)
    ...

Crash message:

        C:

[2015-06-16 13:33] digitalextremist commented on #56
@kenichi this type of exit handler should probably be put back, but not just used for profiling:

https://github.com/kenichi/angelo/blob/master/lib/angelo.rb#L140

The error shown has to do with somehow disrupting `nio4r` ... possibly due to not properly shutting down the reactor. But, with jruby, you cannot trap `INT` or any other kill-like signal directly.

Do something like:

[code]

[2015-06-18 22:48] kenichi commented on #56
@rjattrill thanks for the report. i see this using plain reel too, both 0.5.0 and 0.6.0-milestone, so i kind of feel that it's not an angelo bug?

@digitalextremist thanks... i tried adding the at_exit to no avail. do you also see this with a plain reel server?

[2015-06-19 00:08] digitalextremist commented on #56
@kenichi I've actually seen this before, now that I think about it. What happens, if it is what I think it is, is definitely on a `Reel` level also, and I'll look for it. What it is, is that the server loop is sitting in `socket.accept` which is blocking until a connection. When the socket is taken away ( while being listened to ) it crashes the listener. Lately I've been doing different types of

[2015-06-22 17:17] kenichi commented on #56
@digitalextremist do you have some examples of what you're saying? my attempts at "quieting" celluloid usually make it "louder" :)

[2015-06-23 15:24] digitalextremist commented on #56
@kenichi have you tried proper cheating?

[code]

[2015-07-15 23:16] kenichi commented on #56
closing in favor of a fix in reel - reopen if determined to be an angelo issue.

[2015-07-15 23:16] #56 closed

[2015-07-15 23:19] kenichi commented on #52
much has been done as a result of this issue, thanks @mighe.

[2015-07-15 23:19] #52 closed

[2015-07-15 23:23] #55 closed

[2015-10-06 02:39] rjattrill commented on #56
I also see this in plain Reel.  I can't see any open issue so will open one and reference here.

[2015-12-01 09:07] alhafoudh commented on #56
@kenichi which fix are you reffering to? @rjattrill's fix does not fix this :( at least not for me.

[2016-02-12 22:37] rmc3 opened #59 "Async HTTP response patterns"
Having gotten used to writing REST APIs in Node.js with Express, I'm accustomed to being able to kick off asynchronous tasks when an endpoint is hit and not send the HTTP response until a callback is called. I've failed to find any documentation that gives insight into how to do something similar with Angelo (or the underlying Reel/Celluloid).

With the documented ```tasks``` and ```async```/```fu

[2016-02-17 21:41] kenichi commented on #59
hi @rmc3 - sorry for not getting back to you sooner. you're correct, for the most part. "blocking" IO is supposed to "pause" and allow other tasks to run, but lately I don't have a good pulse on the Reel/Celluloid community. Compute tasks that should be in another thread (another Actor object) are blocking responses. There have been many changes to celluloid world, and also some initial misunderst

[2016-02-18 12:27] grizzlydev opened #60 "Now Reel 0.6 is out, any chance of cutting a 0.5 Angelo release?"
looks like this is work in progress - anything we can do to assist?

@kenichi Great work here BTW, love this framework

[2016-02-18 17:04] rmc3 commented on #59
@kenichi, I've been demoing Angelo with MRI. I'm happy to try it out with JRuby, but I'm not certain what this would change. Can you elaborate what differences I should see on the subject of blocking operations with JRuby, or anything I'd need to do differently with Angelo with JRuby to see these differences?

[2016-02-21 04:15] kenichi commented on #59
@rmc3 Here is an example. Some things to note are:

* for computation, use another actor/thread
* for IO, use celluloid-io evented socket on the reactor (`task` builder)

[code]

GETing /a will still respond with 'hi', even while the another request is GETing /b, or another is GETing /c. /b requests will block serially due to there being only one worker thread.

The commented httpclient lines show

[2016-02-21 06:34] kenichi commented on #60
@grizzlydev thanks! looking at 0.6, some PRs weren't included... #189 and #191? skipping rack being left in as a dep, the forward to ping is used by angelo: not hard to change, but i'm wondering: @tarcieri can you shed any light on that?

[2016-02-21 07:16] digitalextremist commented on #60
Are those two the only ones blocking `0.5` of angelo?

[2016-02-21 18:23] kenichi commented on #60
@digitalextremist well before pushing a gem version, i went to test things and they were broken. angelo was tracking the 0.6.0-milestone branch of reel, which doesn't seem to be the branch used for 0.6 release. angelo doesn't actually care about rack or not, that's a personal preference; but it does care about where websocket#ping is - like i said, not a hard change, but had me wondering what happ

[2016-02-21 18:35] digitalextremist commented on #60
I will recheck the release and check this. If you have specific unmerged code/branches please point them out.

On February 21, 2016 10:23:55 AM PST, kenichi nakamura <notifications@github.com> wrote:

[2016-02-21 20:30] kenichi commented on #60
@digitalextremist well the commits from those PRs specifically :smile:

also, i kept saying "not a hard change", but it seems there's actually no exposed way of pinging the client over a websocket in reel 0.6. i have some new branches from the 0-6-stable branch: `no_rack_again` and `ping`. the rack one includes the ping one, but i kept a separate branch in case there was reason to keep rack that i

[2016-02-21 20:47] kenichi commented on #60
@grizzlydev you can check out the new `reel_0.6` branch for a sorta working angelo. be aware it only works against my forked branches of reel - `ping` or `no_rack_again` (see https://github.com/kenichi/angelo/blob/reel_0.6/Gemfile#L3)

[2016-02-22 14:49] rmc3 commented on #59
That sounds like the behavior I observed too, if it resulted in HTTP requests blocking. Thanks for the example! It may be worth adding something similar to this to the README or wiki for people who are also looking into Angelo for a similar use case.

[2016-02-22 17:23] tarcieri commented on #60
@kenichi let me shed some light on the branching scheme that Celluloid projects use (I can't speak to @digitalextremist's branches, this is just how every other branch in every other project works):

*master*: the next major upcoming release. Most PRs should be made against master
*x-stable*: for bugfix releases against the last minor release. Generally commits to this branch should get cherry-pic

[2016-02-22 18:39] kenichi commented on #60
@tarcieri k, thanks. PRed master.

[2016-02-23 11:21] digitalextremist commented on #60
( There was an unusual situation leading up to `0.6.0`, like the situation leading up to `0.17.0` of celluloid, which lead to using the `0.6.0-milestone` branch and a few others, but usually the master/x-stable strategy is what's used )

[2016-03-11 18:03] kenichi commented on #60
currently waiting on 0.6.1 - 0.6.0 is a broken release: can't ping websocket clients

[2016-03-11 18:55] tarcieri commented on #60
@kenichi I will do a release tomorrow

[2016-03-12 23:56] kylekyle opened #62 "Angelo breaks with newer version of HTTP gem"
A fresh installation:

[code]

`angelo.rb`:

[code]

[code]

[2016-03-13 00:14] kylekyle opened #63 "public_dir cannot be absolute"
If you pass an absolute directory to `public_dir`, it will be concatenated to the end of `__FILE__`, for something like this:

`/Users/kyle/server/lib/Users/kyle/public`

[2016-03-13 00:16] kylekyle opened #64 "Celluloid backport warning"
When I run an angelo server, I get the warning

`
Celluloid 0.17.0 is running in BACKPORTED mode. [ http://git.io/vJf3J ]
`

If I take the recommendation from the url and require `celluloid/current' before requiring `angelo`, angelo throws the following error:

[code]

[2016-03-15 05:30] tarcieri commented on #60
0.6.1 released

[2016-03-15 11:05] kenichi commented on #60
0.5.0 released

[2016-03-15 11:05] #60 closed

[2016-03-15 11:10] kenichi commented on #62
this was fixed on the reel_0.6 branch, which is now merged to master and released in 0.5.0

[2016-03-15 11:10] #62 closed

[2016-03-15 11:17] kenichi commented on #63
thanks. yes, it is joined to `root` - which is lazily inited to `app_file/..`. see the following lines:

https://github.com/kenichi/angelo/blob/master/lib/angelo/base.rb#L54
https://github.com/kenichi/angelo/blob/master/lib/angelo/base.rb#L142-L144
https://github.com/kenichi/angelo/blob/master/lib/angelo/base.rb#L111-L119

you can set it relatively, using `../..` etc, or you can even override the

[2016-03-15 11:21] kenichi commented on #64
as of 0.5.0, it should work to require celluloid/current above, thanks to #58. however, the actual issue is in how reel requires celluloid. you can see this same warning by requiring reel from the latest code. please let me know/reopen if that workaround does not work for you with 0.5.0 and i will see what i can do to get reel requiring the latest celluloid in a less noisy fashion.

[2016-03-15 11:21] #64 closed

[2016-05-29 17:33] kenichi opened #67 ""main" style breaks with ruby 2.3.1"
this [commit](https://github.com/ruby/ruby/commit/986fb559613c6bd6a76424e08f0847a7e9cd90de) breaks the "main" style feature added by @tommay because it makes `Forwardable` call `method_defined?` which is not present on `main`.

tried replacing the forward/def_delegators stuff in `lib/angelo/main.rb` with this but am running into errors i'm not understanding immediately:

[code]

[2016-05-29 20:12] tommay commented on #67
I might be able to spend some cycles on this.

[2016-06-01 16:37] kenichi commented on #67
i'm dumb and forgot that `*a` doesn't swallow blocks. doing this:

[code]

makes it "work" but helpers still fails. 😕

[2016-06-01 21:29] #67 closed

[2016-06-01 21:30] kenichi commented on #67
i wound up using `define_singleton_method` which made the main only test pass. let me know if that doesn't sound correct.

[2016-07-22 12:37] damned opened #70 "0.5.0 Actor crashed! handling POST request from Net::HTTP"
Using reel 0.6.1 got

Actor crashed!
ArgumentError: Reel::Request::StateMachine can't change state from 'closed' to 'headers'

when handling Net::HTTP POST

Raised issue in reel https://github.com/celluloid/reel/issues/229

[2016-07-26 15:21] damned commented on #70
Just found that the work around to always ensure the request is fully read by starting the breaking responder block with:

`params.dup`

as suggested in #21 works around this bug too.

[2016-07-30 11:25] damned commented on #70
here is the simplest reproduction i can find for problem (angelo 0.5.0, reel 0.6.2, ruby 2.3.1):

`
require 'angelo'

class PoorlyServer < Angelo::Base
  post '/somepath' do
    'some body'
  end
end
PoorlyServer.run '127.0.0.1', 7077, {}, false

require 'net/http'

(1..10).each do
  http = Net::HTTP.new '127.0.0.1', 7077
  http.post '/somepath', 'somedata'
end
`

[2016-08-08 16:05] kenichi commented on #70
@damned thanks for your work on this, sorry I haven't responded until now. I'm working with the reel community to try to address this issue.

[2016-08-24 18:42] kenichi commented on #70
see my comment over on [reel](https://github.com/celluloid/reel/issues/229#issuecomment-242165470). interesting about `params.dup`... let me investigate that a bit more.

[2016-09-09 21:42] stugol opened #71 "scope option being ignored completely"
You have a bug in `instantiate_template_from_string`, where `opts` aren't being passed correctly to `Tilt.new`. In addition, in `/usr/local/lib/ruby/gems/2.3.0/gems/angelo-0.5.0/lib/angelo/templates.rb`, line 61, the code `render = ->{ template.render(self, locals) }` should respect the `:scope` option, if set.

[2016-09-09 21:43] stugol commented on #45
+1

[2016-09-11 02:30] stugol commented on #22
I don't see how this is so difficult. I just solved it myself in a matter of minutes:
[code]
Usage:
[code]
Which reminds me: `get` and `post` blocks should be able to take parameters from the pattern, like in Sinatra. I've implemented that in my code as well, if you're interested.

[2016-09-12 00:11] stugol opened #72 "Exit the server?"
How the hell do you exit the server programmatically? Any attempt to call `@server.terminate`, `Thread.terminate` or `Kernel.exit` simply results in an error message - or worse, a complete hang of the process.

[2016-09-24 00:33] kenichi commented on #71
Hello. It sounds like you have all the ingredients for a PR. I've not had much time for this project lately, but am happy to review fixes if you do. Thanks!

[2016-09-24 00:35] kenichi commented on #72
I have to look closer to remind myself, but I think the tests do this in the websocket helpers. I'm about to board a flight, and will poke around en route.

[2016-09-24 00:36] kenichi commented on #45
No, it's not quite dead yet! 😉 More, it has been waiting on changes to upstream projects, mostly reel. If you have time to make a PR, it would be much appreciated. Thanks!

[2016-09-24 00:38] kenichi commented on #22
Yes, PRs are very welcome!

[2016-09-25 18:45] kenichi commented on #72
I found what I was thinking of in the `define_app` test helper after block. If you're using `.run`, this should work, though it might complain. I believe this happens with a bare reel server instance as well, so I'm not sure there's anything I can do about it in Angelo. See also the trap INT block in the `.run`. Hope this helps!

[2016-09-25 18:45] #72 closed

[2017-01-14 13:04] pachacamac commented on #47
So there is still no solution? Any idea/best practice on how to handle file uploads with angelo?

[2017-01-15 22:54] kenichi commented on #47
@pachacamac hello! last summer, i was able to help a google summer of code student through adding rudimentary support for both sessions and multipart to reel. it's not merged yet, and still a bit rough, but you can try it:

Gemfile:

[code]

Angelo app class file:
[code]

[2017-01-25 09:36] respire commented on #70
@damned  @kenichi
IMO, the problem is connection#each_request will yield request once headers are parsed.

if you patch Reel::Request::Parser#current_request in you local reel like this
reel/request/parser.rb
[code]
your test will pass.
[code]

maybe i can send a fix from angelo side or reel side.

[2017-01-29 18:00] kenichi commented on #70
hi @respire thanks - i agree that is the problem, and i like the simplicity of the fix, but it causes reel specs to fail/hang on the pipelining stuff. i'm not opposed to taking that stuff out, but the larger reel org would need to consent. again, i don't think it's supported by modern browsers, and h2 makes h1.1 pipelining moot.

[2017-01-30 10:18] respire commented on #70
hi @kenichi - thanks for your reply! actually it's just an example patch to indicate the problem. it's not the final fix, and I agree that it's better to fix from angelo side. i'll send another PR from angelo side when I have time.

[2017-02-12 00:45] fkchang opened #76 "future/async doesn't seem to be async"
Hi.  I'm not sure if I'm using this right, but shouldn't these be handled asyncrhonously?

[code]

When I hit it, they are usually serviced 10 sec apart.  Occasionally one gets serviced w/in 3 sec.

Perhaps I did not use future correctly?  Thank you

[2017-02-13 17:32] kenichi commented on #76
hi @fkchang. thanks for using angelo! i think the main problem here is using `Kernel.sleep` instead of [`Celluloid.sleep`](https://github.com/celluloid/celluloid/blob/master/lib/celluloid.rb#L405). i was able to do this by just removing the `Kernel.` part but you may want to be more specific.

if you try that, it should work the way you expect. lemme know how it works out for you.

[2017-02-13 23:25] fkchang commented on #76
Hi @kenichi Thanks for the quick response.  I switched to Celluloid.sleep and I get the same behavior, i.e, after doing 4 requests back to back, watching the output of the angelo program, I see "processing" show up not immediately after 4 times, but about 10 seconds apart, except for the last one.  The sleep is to simulate the actual function which is a socket based exchange that could take up to

[2017-02-14 19:52] kenichi commented on #76
@fkchang interesting. i used your example with the latest code on master, and i only removed the `Kernel.` bit from the sleep line. In another IRB session, i did:

[code]

as you can see, i did it twice, for a total of ten requests. each time, all 5 returned after 10 seconds:

[code]

regarding what the sleep is intending to simulate, an angelo server is a reel server, which is a celluloid::io rea

[2017-09-20 07:57] kamstrup opened #77 "Classic mode app unable to start up"
When I try to start a classic mode app I get the following:

[code]

[code]

I am using angelo 0.5.0 and starting it with `bundle exec ruby application.rb`.

If I convert to the class based solution everything works fine.

[2017-09-20 20:19] kenichi commented on #77
hello @kamstrup and thanks for trying angelo!

i can't seem to repro this problem:
[code]

after reading the error you pasted, and looking at my 2.3.5 version of forwardable.rb, i'm curious if you have local changes to that file? maybe something that tries to send `:method_defined?` to an instance?

for reference, this is what my forwardable.rb:182 looks like:

https://github.com/ruby/ruby/blob/tr

[2017-09-21 05:49] kamstrup commented on #77
My forwardable.rb#180-185 looks like this:

[code]

This is the stock ruby (2.3.3) install on Ubuntu 17.04, definitely not modified unless there are distropatches, which sounds unlikely. But it looks like the entire implementation of `def_instance_delegator` between 2.3.3 and 2.3.5 then...

[2017-09-21 05:54] kamstrup commented on #77
Indeed, vanilla Ruby 2.3.3 seems to be what I have (this is the code in the v2_3_3 tag) https://github.com/ruby/ruby/blob/c91cb76f8d84b2963f6ede2ef445ad46a6104216/lib/forwardable.rb#L180-L203

[2017-09-21 06:05] kamstrup commented on #77
Aha! Some git blaming later https://bugs.ruby-lang.org/issues/12478

[2017-09-21 17:22] kenichi commented on #77
@kamstrup thanks for investigating! if you can upgrade ruby versions, it sounds like that will fix it. please let me know if you have any more trouble.

[2017-09-21 17:22] #77 closed

[2017-11-06 20:36] tenyo opened #78 "Support for PATCH"
I've been using Angelo for a while now and I just noticed it doesn't support the PATCH HTTP verb. Is this on purpose? I can try submitting a PR but wanted to check first.

[2017-11-08 19:34] kenichi commented on #78
Hello @tenyo and thanks for using Angelo! re: PATCH I don't remember a specific reason for not including it, I must not have needed it at the time! If you feel like submitting a PR to add support for that, I'd be happy to review and make a new release.

[2017-11-09 03:04] tenyo commented on #78
Thanks, @kenichi! I just opened a PR for this.

[2017-11-15 05:05] kenichi commented on #78
fixed by #79

[2017-11-15 05:05] #78 closed

[2018-05-15 07:15] Sod-Almighty opened #81 "NoMethodError: undefined method `report_errors?' for Angelo::Server"
I believe I have found a bug. In `angelo/base.rb`, line 287, you have:
[code]
`self` at this point is `#<Celluloid::Proxy::Cell(Angelo::Server:0x2b23a590ec0c) @base=MyHTTPServer @options={:host=>"0.0.0.0", :port=>2347} @callback=#<Proc:0x000056474bd20df0 (lambda)> @server=#<Celluloid::IO::TCPServer:0x000056474bcffdf8 @socket=#<TCPServer:fd 15, AF_INET, 0.0.0.0, 2347>>>`, which is also an instance

[2018-05-28 20:27] kenichi commented on #81
@Sod-Almighty thanks, i believe you're correct. anything defined via `task` runs in the context of the main reactor instance, the Angelo::Server. would you like to submit a PR?

[2018-05-29 00:47] Sod-Almighty commented on #81
Seriously?

This would require forking it, editing it, creating a new commit, issuing a pull request, and then waiting for you to accept it. And that's after I've already gone to the trouble of finding the bug, tracking down the cause, identifying a fix and creating a post telling you exactly what it was.

On the whole, I think I'd rather you just changed a single line of code in your repo, frankl

[2018-05-29 15:38] kenichi commented on #81
it's an effort to allow you to contribute; but, since you prefer to be an ass, never mind.

[2018-05-29 15:41] #81 closed, assigned to nobody

[2022-03-23 01:14] tenyo opened #83 "Angelo doesn't work with Ruby 3"
Hello in 2022! We're still using Angelo for one of our projects and got an error when trying to switch to Ruby 3. The specific error seems to be related to the mustermann gem which is locked to an old version (0.4), but I guess there could be others. Any chance to update the angelo dependencies?

[2022-03-23 17:01] kenichi commented on #83
Hi @tenyo - many of the upstream dependencies are no longer maintained, specifically the entire celluloid ecosystem: reel, celluloid:io, celluloid... which angelo depends on for base functionality. That said, I tried to fire up some of the examples on ruby 3.1 and found [some basic things to update/fix](https://github.com/kenichi/angelo/compare/ruby3). The tests still hang somewhere, but it gets t

[2022-03-24 13:53] tenyo commented on #83
Thanks so much @kenichi ! Looks like this might do the trick! Do you want me to do some testing with my project?

[2022-03-28 19:55] kenichi commented on #83
I did some more testing, but haven't been able to nail down what is happening. Something fundamental in the websocket negotiation in Reel (upstream dep) is broken for me, even on older rubies. Feel free to continue trying with these changes, but I can't make any guarantees. I'll likely archive this repository very soon.